<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      text=""
      color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="font-bold text-2xl">Registro de Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card  class="animate-fade-up animate-once animate-duration-500 animate-ease-out">
    <ion-card-header>
      <ion-card-title>Regístrate en CSP Pacientes App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-input type="text" label="Nombre" labelPlacement="floating" placeholder="Ingrese su nombre..."
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" label="Email:" labelPlacement="floating" placeholder="Ingrese su correo electrónico..."
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Contraseña:" labelPlacement="floating" placeholder="Ingrese su contraseña..."
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Repetir Contraseña:" labelPlacement="floating" placeholder="Repita su contraseña..."
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <div style="text-align: center; padding-bottom: 20px;">
      <ion-button (click)="registrar()" fill="solid" shape="round" class="boton">
        Crear Cuenta
      </ion-button>
    </div>
  </ion-card>
</ion-content>
