<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" color="light" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      text=""
      color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Home Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="animate-fade-up animate-once animate-duration-500 animate-ease-out">
  <!-- <div id="lista"> -->
    <!-- <ion-list lines="none"> -->
      <ion-item style="margin-top: 15px;">
        <ion-icon name="hourglass-outline" size="large" color="dark"></ion-icon>
        <ion-label>Horario de Atención: de Lunes a Viernes de 7:00 a 20:00 hrs</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-whatsapp" size="large" color="dark"></ion-icon>
        <ion-label> +569 30716417</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-facebook" size="large" color="dark"></ion-icon>
        <ion-label> clinica_sanpatricio</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-instagram" size="large" color="dark"></ion-icon>
        <ion-label> clinica_sanpatricio</ion-label>
      </ion-item>
    <!-- </ion-list> -->
    
  <!-- </div> -->
  <ion-card id="foto">
    <ion-img src="assets/2.webp"></ion-img>
  </ion-card>
</ion-content>
