/*selector de tipo id*/

#foto{
    margin-top: 20%;
    background:whitesmoke;
}

/*selector de tipo class para reutilizar, el # solo se ocupa una vez*/




#centrar{
    text-align: center;
   
    background-color: #BFD42F;
}

ion-icon {
    --padding-right: 15px;
}

ion-list {
    --background: #BFD42F;
}

// #lista{
//     background-color: #BFD42F;
// }

ion-item{
    --background: #BFD42F;

}