ion-toolbar {
    --background: #BFD42F;
    --color: #1B177F;
  
    --border-color: #7473B6;
    --border-width: 4px 0;
    --border-style: double;
  
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }