/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional CSS utils that can be commented out */
// @import "@ionic/angular/css/padding.css";
// @import "@ionic/angular/css/float-elements.css";
// @import "@ionic/angular/css/text-alignment.css";
// @import "@ionic/angular/css/text-transformation.css";
// @import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-toolbar {
  --background: #15146C;
  --color: #BFD42F;

  --border-color: #7473B6;
  --border-width: 4px 0;
  --border-style: double;

  --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --text-align: center;
}

ion-content {
   --background: #BFD42F;
}

ion-card {
  background:  #000000;
  border-radius: 10px;
  border-color: #353535;
  border-style:inset;
  border-width: 5px;
  margin-top: 30%;
}

ion-card-content{
--background: #8ef7e5;
}

ion-card {
  background: #15146C;
  border-radius: 10px;
  border-color: #353535;
  border-style:inset;
  border-width: 5px;
  margin-top: 30%;
}

ion-card-content{
  --background: #8ef7e5;
}

ion-card-title{
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:aqua;
  margin-bottom: 35px;
  font-size:x-large;
}

ion-title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size:x-large;
  
}

// ion-alert-ios{
//   border-width: 15px;
//   border-color: #BFD42F;
// }
